#contacto {
    padding: 50px 0;
    text-align: center;
    margin: 25px;
}

#contacto h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

#contacto form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#contacto form label,
#contacto form textarea {
    display: block;
    margin-bottom: 10px;
}

#contacto form input,
#contacto form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#contacto form .submit {
    background-color: #96939B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contacto form .submit:hover {
    background-color: #333;
}

#mapa {
    margin-top: 15px;
}

#historia {
    margin: 50px;
    text-align: left;
}

#historia h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

#historia p {
    color: #555;
    line-height: 1.6;
}
