main h2 {
    text-align: center;
    font-size: 25px;
    margin: 20px;
    color: black;
}

#banner {
    text-align: center;
}

#banner img {
    max-width: 100%;
}

#productos-destacados {
    text-align: center;
}

.producto {
    display: inline-block;
    width: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.producto img {
    max-width: 100%;
}

.producto h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.producto p {
    color: #777;
    margin-bottom: 10px;
}

.producto button {
    background-color: #96939B;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #333;
}
