#productos {
    text-align: center;
    padding: 50px 0;
}

#productos h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
}

.producto {
    display: inline-block;
    width: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
}

.producto h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.producto p {
    color: #777;
    margin-bottom: 10px;
}

.producto button {
    background-color: #96939B;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    border-radius: 5px;
}

.producto button:hover {
    background-color: #333;
}
