// Variables
$color-fondo: #E8E8E8;
$color-encabezado: #FC814A;
$color-texto: #333;
$color-enlace: black;
$color-boton: #96939B;
$color-boton-hover: #333;

// Estilos Generales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// Estilos del Header
header {
    background-color: $color-encabezado;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        i {
            padding: 5px + 5px;
            font-size: 25px;
        }
    }

    nav {
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;

            li {
                margin-right: 20px;

                a {
                    text-decoration: none;
                    color: $color-enlace;
                    font-size: 1.2em;
                    @if font-size > 16px { 
                        font-weight: bold;
                    }
            }
        }
    }

    .carrito {
        i {
            font-size: 15px;
            color: $color-enlace;
        }
    }
}
}


// Estilos del Body
body {
    background-color: $color-fondo;
}

// Estilos del Footer
footer {
    background-color: $color-encabezado;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .redes-sociales {
        text-align: center;
        margin-bottom: 20px;

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
            color: $color-texto;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin: 0 10px;

                a {
                    text-decoration: none;
                    font-size: 25px;
                    color: $color-texto;
                }
            }
        }
    }

    .informacion {
        h3 {
            font-size: 20px;
            margin-top: 20px;
            color: $color-texto;
            text-align: center;
        }

        p {
            margin: 5px 0;
            color: $color-texto;
            font-size: 15px;
        }
    }

    .newsletter {
        text-align: center;
        margin-top: 25px;

        h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        .email {
            width: 50%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .submit {
            background-color: $color-boton;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: $color-boton-hover;
            }
        }
    }

    p {
        text-align: center;
        font-size: 0.9em;
        color: $color-texto;
        margin-top: 20px;
    }
}

// Estilos del Main (Index)
main {
    h2 {
        text-align: center;
        font-size: 25px;
        margin: 20px;
        color: $color-texto;
    }

    #banner {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    #productos-destacados {
        text-align: center;

        .producto {
            display: inline-block;
            width: 200px;
            margin: 20px;
            border: 1px solid #ccc;
            padding: 10px;

            img {
                max-width: 100%;
            }

            h3 {
                font-size: 1.2em;
                margin: 10px 0;
                color: $color-texto;
            }

            p {
                color: #777;
                margin-bottom: 10px;
            }

            button {
                background-color: $color-boton;
                color: #fff;
                border: none;
                padding: 8px 16px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $color-boton-hover;
                }
            }
        }
    }
}

// Estilos del Contacto
#contacto {
    padding: 50px 0;
    text-align: center;
    margin: 25px;

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: $color-texto;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        text-align: left;

        label, textarea {
            display: block;
            margin-bottom: 10px;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .submit {
            background-color: $color-boton;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: $color-boton-hover;
            }
        }
    }

    #mapa {
        margin-top: 15px;

        iframe {
            margin-top: 10px;
        }
    }

    #historia {
        margin: 50px;
        text-align: left;

        h3 {
            font-size: 1.5em;
            color: $color-texto;
            margin-bottom: 10px;
        }

        p {
            color: #555;
            line-height: 1.6;
        }
    }
}

// Estilos de Servicios
#servicios {
    text-align: center;
    padding: 50px 0;

    h2 {
        font-size: 2em;
        margin-bottom: 30px;
        color: $color-texto;
    }

    .servicio {
        max-width: 90%;
        margin: 0 auto 30px;
        text-align: left;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: $color-texto;
        }

        p {
            color: #777;
            line-height: 1.6;
        }

        img {
            max-width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        button {
            background-color: $color-boton;
            color: #fff;
            border: none;
            padding: 8px;
            margin-top: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 10%;
            border-radius: 5px;

            &:hover {
                background-color: $color-boton-hover;
            }
        }
    }
}

// Estilos de Productos
#productos {
    text-align: center;
    padding: 50px 0;

    h2 {
        font-size: 2em;
        margin-bottom: 30px;
        color: $color-texto;
    }

    .producto {
        display: inline-block;
        width: 200px;
        margin: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
            max-width: 100%;
        }

        h3 {
            font-size: 1.2em;
            margin: 10px 0;
            color: $color-texto;
        }

        p {
            color: #777;
            margin-bottom: 10px;
        }

        button {
            background-color: $color-boton;
            color: #fff;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
            border-radius: 5px;

            &:hover {
                background-color: $color-boton-hover;
            }
        }
    }
}

// Estilos de Preguntas
#preguntas-frecuentes {
    text-align: center;
    padding: 50px 0;

    h2 {
        font-size: 2em;
        margin-bottom: 30px;
        color: $color-texto;
    }

    .pregunta {
        max-width: 90%;
        margin: 0 auto 30px;
        text-align: left;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;

        h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: $color-texto;
        }

        .respuesta p {
            color: #777;
            line-height: 1.6;
        }
    }
}

// Media Query para Pantallas Pequeñas
@media only screen and (max-width: 768px) {
    header {

        .logo {
            margin-bottom: 5px;
        }

        nav {
            ul {
                flex-direction: column;
                align-items: center;

                li {
                    margin: 0;
                    margin-bottom: 10px;

                    a {
                        font-size: 1.2em;
                    }
                }
            }
        }

        .carrito {
            margin-top: 10px;
        }
    }

    main {
        h2 {
            font-size: 20px;
            margin: 10px;
        }

        #banner img {
            width: 100%;
        }

        #productos-destacados {
            text-align: center;

            .producto {
                width: 80%;
                margin: 10px;

                img {
                    width: 350px;
                    height: 400px;
                }
            }
        }
    }

    #preguntas-frecuentes {
        .pregunta {
            margin-bottom: 10px;
            padding: 10px;

            h3 {
                text-align: center;
                font-weight: bolder;
            }

            p {
                text-align: center;
                font-weight: bolder;
                font-size: 18px;
            }
        }
    }

    #contacto {
        margin-top: 0px;
        padding: 0px;

        h2 {
            font-size: 25px;
            font-weight: bolder;
        }

        #historia {
            margin: 10px;
            text-align: center;
        }

        #mapa {
            iframe {
                margin-top: 10px;
            }
        }
    }
}
